<div class="d-md-flex justify-content-md-between">
  <h1>
    Listado de Gastos
    <span *ngIf="expenses" class="badge bg-secondary d-none d-sm-inline">{{
      expenses.length
    }}</span>
  </h1>
  <div>
    <button mat-raised-button color="primary mx-1" (click)="newExpense()">
      Gasto<mat-icon>add_circle</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="newSupplier()">
      Proveedor<mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>

<div class="d-flex justify-content-between mt-4 mt-md-0 mt-lg-0 ">
  <div class="d-flex flex-column">
    <p>
      <strong class="text-danger">Gastos: </strong>
      {{ totalOut | currency : "EUR" }}
    </p>
    <p>
      <strong class="text-success">Entradas:</strong>
      {{ totalIn | currency : "EUR" }}
    </p>
  </div>
  <div class="justify-content-end">
    <h2><strong>Total:</strong> {{ totalIn - totalOut | currency : "EUR" }}</h2>
    <p>
      <strong>Pendiente de Pago:</strong> {{ totalPending | currency : "EUR" }}
    </p>
  </div>
</div>

<mat-divider class="mb-3"></mat-divider>
<mat-card class="mx-auto animate__animated animate__fadeIn">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><strong>Gasto</strong></th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">
          <strong>Proveedor</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell">
          {{ element.supplier.name }}
        </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">
          <strong>Tipo</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell">
          <mat-icon *ngIf="element.type == 'OUT'" class="text-danger"
            >arrow_upward</mat-icon
          >
          <mat-icon *ngIf="element.type == 'IN'" class="text-success"
            >arrow_downward</mat-icon
          >
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef><strong>Monto</strong></th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | currency : "EUR" }}
        </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">
          <strong>Estado</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell">
          <mat-icon *ngIf="element.status == 'PAID'" class="text-success"
            >done</mat-icon
          >
          <mat-icon *ngIf="element.status == 'PENDING'" class="text-danger"
            >schedule</mat-icon
          >
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <strong>Acciones</strong>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <a mat-raised-button color="primary" (click)="detailExpense(element)"
            >Detalle<mat-icon>info</mat-icon></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
