<h2 mat-dialog-title>{{ titleForm }}</h2>
<mat-divider></mat-divider>
<div class="col-12">
  <mat-dialog-content class="mat-typography">
    <form autocomplete="off" class="row" [formGroup]="expenseForm">
      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombre"
            formControlName="name"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('name')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option
              *ngFor="let supplier of suppliers"
              [value]="supplier.id"
            >
              {{ supplier.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Tipo de Movimiento</mat-label>
          <mat-select formControlName="supplier">
            <mat-option value="IN">Entrada</mat-option>
            <mat-option value="OUT">Salida</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cantidad</mat-label>
          <input
            type="number"
            matInput
            placeholder="Cantidad"
            formControlName="amount"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('name')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Comentario</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <p>
        <mat-slide-toggle formControlName="status">Pagado</mat-slide-toggle>
      </p>
    </form>
    <mat-divider></mat-divider>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="expenseForm.invalid"
      [mat-dialog-close]="true"
      (click)="submit()"
    >
      {{ textButton }}
    </button>
  </mat-dialog-actions>
</div>
