<h2 mat-dialog-title>{{ titulo }}</h2>
<mat-divider></mat-divider>
<div class="col-12">
  <mat-dialog-content class="mat-typography">
    <form autocomplete="off" class="row form-floating" [formGroup]="taskListForm">
      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nueva Tarea</mat-label>
          <input
            type="text"
            matInput
            placeholder="Articulo"
            formControlName="title"
            class="full-width"
            required
          />
          <mat-hint *ngIf="isValid('title')">
            El campo es requerido <strong>Requerido</strong>
          </mat-hint>
        </mat-form-field>
      </p>
    </form>
    <mat-divider></mat-divider>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="taskListForm.invalid"
      [mat-dialog-close]="true"
      (click)="newTask()"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</div>
