<div class="row">
  <div class="d-flex justify-content-between animate__animated animate__fadeIn">
    <h1>
      Listado de Productos
      <span *ngIf="products" class="badge badge-light">{{
        products.length
      }}</span>
    </h1>
    <button mat-raised-button color="primary" (click)="newProduct()">
      Producto<mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
<hr />
<div class="row mx-auto animate__animated animate__fadeIn mt-2">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><strong>#</strong></th>
            <th scope="col"><strong>Producto</strong></th>
            <th scope="col"><strong>Categoria</strong></th>
            <th scope="col"><strong>Precio</strong></th>
            <th scope="col"><strong>Activo</strong></th>
            <th scope="col"><strong>Tiene Stock</strong></th>
            <th scope="col" class="text-center"><strong>Acciones</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>
              {{ product.price | currency : "EUR" : "symbol" : ".2-2" : "es" }}
            </td>
            <td>
              <i
                class="bi bi-power h4"
                [ngClass]="product.is_active ? 'text-success' : 'text-danger'"
              ></i>
            </td>
            <td>
              <i
                class="h4"
                [ngClass]="product.has_stock ? 'bi bi-toggle-on text-success' : 'bi bi-toggle-off text-danger'"
              ></i>
            </td>
            <th scope="row" class="text-center">
              <button class="btn btn-primary btn-sm mx-2">
                <i class="bi bi-info-circle"></i>
              </button>
              <button class="btn btn-danger text-light btn-sm" (click)="editProduct(product)">
                <i class="bi bi-pencil-square"></i>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
